# Dependencies
node_modules/

# Output & Build Artifacts
out/
dist/
dist-firefox/
build/
.output/
.nuxt/
*.tgz
*.zip

# Caches & Tooling
.vite/
.bun-cache/
.cache/
.eslintcache
.prettiercache
.stylelintcache
*.tsbuildinfo

# Coverage & Logs
coverage/
*.lcov
.nyc_output/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Editor Specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vim
*.vscode-test

# System & OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
